.experiencePlace {
    color: #067500;
    font-size: 16pt;
}
.years{
    padding-left: 10px;
    margin: 0;
    font-weight: normal;
    font-size: 11pt;
}
.list{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 20px;
    margin: 10px;
}
.achievement{
    text-decoration: none;
}