.ExperienceContainer {
    display: flex;
    flex-direction: column;
}
.ExperienceCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.Title{
    font-weight: bold;
    font-size: 30px;
}
.Years{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.List{
    margin: 5px;
    list-style: none;
}
.ListItem{
    font-weight: bold;
}