.ExperienceContainer {
    display: flex;
    flex-direction: column;
}

.ExperienceCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.ExperienceCard:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.4s;
}

.Title {
    font-weight: bold;
    font-size: 30px;
}

.Years {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.List {
    margin: 5px;
    list-style: none;
}

.ListItem {
    font-weight: bold;
}