.mainContainer {
    display: flex;
    flex-direction: column;
    width: 750px;
    margin: 100px 0;
    padding: 20px;
    background-color: #070707;
    border: 2px solid #171717; /* Серая рамка */
    border-radius: 12px; /* Скругленные углы */
    box-shadow: 0 4px 18px rgba(255, 255, 255, 0.1); /* Тень для красоты */
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}